@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#FFE8D6,#FDF6FF,#E8FFF7);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Pages */

.page{
    display:none;
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
    padding:20px;
    animation:fade .7s ease;
}

.page.active{
    display:flex;
}

/* Card */

.card{
    width:100%;
    max-width:430px;
    background:#fff;
    padding:32px 25px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
}

/* Final Card */

.ending{
    background:linear-gradient(135deg,#FFF8FB,#F7FFF9,#F4F0FF);
}

/* Headings */

h1{
    font-family:'Sacramento',cursive;
    font-size:60px;
    color:#ff6f91;
    font-weight:400;
    margin-bottom:8px;
}

h2{
    font-size:24px;
    font-weight:600;
    color:#666;
    margin-bottom:18px;
}

/* Text */

p{
    font-size:16px;
    color:#555;
    line-height:1.7;
}

/* Emojis */

.emoji{
    font-size:60px;
    margin-bottom:15px;
}

.icon{
    font-size:34px;
    margin-bottom:15px;
}

/* Buttons */

.next-btn{

    margin-top:28px;
    padding:13px 28px;
    border:none;
    border-radius:30px;
    background:#ff8fab;
    color:white;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    transition:.3s;
}

.next-btn:hover{

    background:#ff6f91;
    transform:scale(1.05);

}

/* Footer */

.footer{

    margin-top:25px;
    font-size:15px;
    line-height:1.7;
    color:#666;

}

/* Hearts */

#hearts{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    overflow:hidden;
}

.heart{

    position:absolute;
    bottom:-40px;
    opacity:.9;
    animation:float linear infinite;

}

/* Fade */

@keyframes fade{

    from{

        opacity:0;
        transform:translateY(35px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

/* Floating Hearts */

@keyframes float{

    0%{

        transform:translateY(0);
        opacity:0;

    }

    20%{

        opacity:1;

    }

    100%{

        transform:translateY(-120vh);
        opacity:0;

    }

}

/* Mobile */

@media(max-width:600px){

.card{

    width:95%;
    padding:26px 22px;

}

h1{

    font-size:52px;

}

h2{

    font-size:22px;

}

p{

    font-size:15px;
    line-height:1.6;

}

.next-btn{

    width:
