/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#FFE8D6,#DFF7F2,#EEE6FF);
    overflow-x:hidden;
    overflow-y:auto;
}

/* Container */

.container{
    width:100%;
    max-width:500px;
    margin:40px auto;
    padding:20px;
}

/* Cards */

..card{
    display:none;

    width:90%;
    max-width:420px;
    margin:40px auto;

    padding:22px;

    background:rgba(255,255,255,.92);

    border-radius:20px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.card.show{
    display:block;
}


@keyframes fade{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* Heading */

h1{
    font-family:'Sacramento',cursive;
    font-size:58px;
    color:#ff6f91;
    font-weight:400;
    margin-bottom:8px;
}

h2{
    font-family:'Poppins',sans-serif;
    font-size:24px;
    font-weight:600;
    color:#666;
    margin-bottom:8px;
}

/* Paragraph */

p{
    font-size:15px;
    color:#555;
    line
